PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/optik_lensmart?retryWrites=true&w=majority
JWT_SECRET=OPTIK_LENSMART_SUPER_SECRET_KEY_2026
ADMIN_SECRET_KEY=OPTIK_ADMIN_ROOT_9920
